/* stylesheet da pagina web*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* ------------------------------- */

/* estilos gerais */

.text-center {
    text-align: center;
}

.margin-top-40 {
    margin-top: 40px;
}

/* ------------------------------- */

/* Containers Gerais*/

.container-cabecalho {
    text-align: center;
    padding: 20px;
    background-color: #04233F;
}

.container-cabecalho h3 {
    font-weight: 600;
    font-size: 2em;
    color: #1190ff;
}

.container-nav {
    text-align: center;
    padding: 20px;
    background-color: #06345d
}

.container-nav a {
    font-size: 1.5em;
    margin: 0px 50px;
    text-decoration: none;
    color: #7cc2ff;
}

.container-nav a:hover {
    color: #fff;
}

/* Containers Especificos */

.container-quem-somos {

}