/* folha de estilos de CSS3 */

div {
    margin: 10px;
    height: 200px;
    border: 1px solid black;
}

.espaco-1 {
    background: linear-gradient(90deg, red, yellow);
}

.espaco-2 {
    
}

.espaco-3 {
    
}