* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: auto;
    margin: 0;
    padding: 0;
    background-color: #3d3535;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    background-color: #1b1f3a;
    padding: 20px;
    color: #fff;
    align-content: center;
    justify-content: space-around;
}

.container {
    display: flex;
    column-gap: 20px;
    padding: 20px;
    background-color: #1c1a1a;
    color: #fff;
    justify-content: space-around;
    align-items: center;
    height: 400px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

a {
    padding: 5px 30px;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 10px;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 360px;
    padding: 40px 20px;
    gap: 20px;

    border: 1px solid #ffffff;
    border-radius: 12px;
    font-size: 12px;
}

footer {
    color: #fff;
    background-color: #000000;
    text-align: center;
    padding: 20px;
}

footer > div {
    color: blue;
}

footer > p {
    font-size: 12px;
    color: gray;
}

.images {
    width: 5em;
}